* {
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    display: flex;
    margin-left: 20px;
}

.box {
    width: 30%;
    display: flex;
    padding: 33px;
    padding-top: 0px!important;
    /* border: 1px solid gray; */
    border-radius: 8px;
    gap: 9px;
    flex-direction: column;
    box-shadow: 1px 5px 27px rgb(0 0 0 / 14%);
}

.box > input {
    height:3rem;
    background-color: #F0F3F5;
    border: none;
    padding:8px 12px;
    border-radius: 8px;

}

.box>button {
    height:3rem;
    color:white;
    background:#FA5E11;
    border:none;
    text-transform:uppercase;
    cursor: pointer;
    border-radius: 8px;

}
.box> input:focus-visible {
    border: none;
    outline: none;
}

.res {
    flex: 1;
    background: white;
    box-shadow: 1px 10px 10px rgb(0 0 0 / 14%);
    padding: 18px;
    height: 97vh;
    margin-left: 10px;
}
.front {
    background: #FAFAFA;
    padding: 14px;
    width: 90%;
    border-radius: 8px;
}

p{
    padding: 11px 14px;
    display: inline-flex;
    border: 1px solid black;
    gap: 11px;
    margin-left: 14px;
    background: #FAFA;
}